:root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;

	--buttonColor:black;
}


html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	background-color: var(--mainColor)
}

body *{
	transition: 0.3s;
}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea, a, button{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
	color: var(--buttonColor);
	font-size: 20px;
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1{
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.fit-content-div {
	width: fit-content;
}

.main-heading {
  cursor: pointer;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .25em solid var(--borderColor); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation: 
    typing 2.5s steps(22, end),
	blink-caret .75s step-end infinite;
}

.simple-heading {
	cursor: pointer;
	margin: 0 auto;
	letter-spacing: .15em;
	font-size: 2.5rem;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--borderColor); }
}


.main-container{
	width: 1200px;
	margin: 0 auto;
}


.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}

.intro-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}


.nav-wrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation a{
	color:var(--mainText);
}


#navigation{
	margin:0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left:5px;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}


.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}

#profile_pic{
	display: block;
	margin:0 auto;

	height: 200px;
	width: 200px;
	object-fit: cover;
	border:2px solid var(--borderColor);
}


#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7E4C74;
}

.settings-note{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}


#preview-shadow{
	background-color: var(--previewShadow);
	max-width: 300px;
	height: 210px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 300px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
	position: relative;
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top:-5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}


#corner-br{
	bottom:-5px;
	right: -5px
}


#corner-bl{
	bottom:-5px;
	left: -5px
}

.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;
}


#skills{
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

.tech-used{
	margin-bottom: 4rem;
}

.social-links{
	display: grid;
	align-content: center;
	text-align: center;
}

#social_img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}


.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	transition: transform .2s;
	cursor: pointer;
}

.post:hover{
	transform: scale(1.1);
}

.thumbnail{
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.post-preview{
	background-color: #fff;
	padding:15px;
}

.post-title{
	color:black;
	margin: 0;
}

.post-intro{
	color:#4b5156;
	font-size: 14px;
}

.game-heading-text{
	font-weight: 300;
	padding: 0.2rem;
	margin: 0rem;
}

#game-button-div{
	display: flex;
	justify-content: center;
	padding: 0.3rem 0 0.5rem 0;
}

#game-heading-div{
	position: relative;
	top: 20rem;
	background: var(--borderColor);
	opacity: 0.8;
	padding: 1rem;
}

#score{
	margin-bottom: -11rem;
}

.game-button-text{
	color: var(--mainText)
}

#game-section{
	padding: 1rem 0 3rem 0;
	contain: content;
	max-height: 2.5rem;
	cursor: pointer;
	overflow-y: hidden;
}

#game-close-div{
	margin-top: 1.4rem;
}

@keyframes section-slide-open{
	from{ max-height: 2.5rem; }
	to{max-height: 50rem; }
}

@keyframes section-slide-close{
	from{max-height: 50rem; }
	to{ max-height: 2.5rem; }
}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}

.img-container {
	text-align: center;
}
.img-container img{
	width: 30rem;
}

.img-container img:hover{
	width: 41rem;
}

.important-text {
    font-weight: 500;
    color: #000;
    font-family: 'Russo One', sans-serif;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
}

#download-resume{
	text-align: center;
	width: 100%; display:block;
	padding: 0.5rem;
	margin: 2.1rem 0rem 2.5rem -1rem;
}

.download-button{
	border: 2px solid var(--buttonColor);
	padding: 0.3rem 0.5rem 0.4rem 0.5rem;
}

.download-button:hover{
	border-width: 5px;
	padding: 0.2rem 0.4rem 0.3rem 0.4rem;
}


@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

	}

}



